.authBody {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;

    background: linear-gradient(40deg, #f18b6e, #ffe396);
    background-size: cover;
    background-position: center;
}
