nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    max-width: 80%;
    height: auto;
}
.signInWrapper {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.navWrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.navWrapper.scrolled {
    background-color: var(--background-body);
    border-bottom: 1px solid var(--orange-opacity);
}
button {
    padding: 12px 24px;
}

.navBarMenu {
    background-color: var(--primary-orange);
    border-radius: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menuIcon {
    color: white;
}
.landingPage {
    position: relative;
}
.homeBannerImg {
    position: absolute;
    display: flex;
    justify-content: end;
    z-index: 0;
    opacity: 50%;
    width: 100%;
}
.homeBannerImg img {
    max-height: 500px;
}
.homeSection {
    padding-top: 100px;
    text-align: center;
    position: relative;
}
h3 {
    margin-bottom: 30px;
    font-size: 2.3em;
    font-weight: 800;
}
p {
    color: var(--font-light-color);
    margin-bottom: 30px;
}
.goldTitle {
    margin-bottom: 5px;
    font-weight: bold;

    color: var(--primary-yellow);
}
.sectionImg {
    margin-top: 35px;
}
.aboutDecoration {
    display: flex;
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -2;
    opacity: 50%;
}
.aboutDecoration img {
    max-height: 500px;
    width: 350px;
}
.workItem {
    border: 1px solid var(--orange-opacity);
    margin-bottom: 20px;
    padding: 30px 40px;
    border-radius: 20px;
    background-color: white;
}
.workItem p {
    margin: 0;
}
.contactItems img {
    width: 48px;
}
.contactItems > * {
    cursor: pointer;
}
.socialMedia img {
    margin-right: 10px;
    width: 32px;
}

.footerWrapper {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--orange-opacity);
    padding: 10px 0;
}
.contactFooter {
    display: flex;
    flex-direction: column;
}
